/* General Styles */
* {
    box-sizing: border-box;
}

body {
    background-color: #000; /* Black background */
    color: white; /* White text for contrast */
    font-family: 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: white; /* Default white links */
}

a:hover {
    color: #ff6347; /* Change color to tomato on hover */
}

/* Navbar Styles */
.navbar-dark .navbar-brand img {
    border-radius: 50%; /* Make the logo circular */
}

/* จัดเมนูไปด้านขวา */
.navbar-nav {
    margin-left: auto; /* ดันเมนูไปด้านขวา */
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-left: 20px;
}

.navbar-nav .nav-link {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* จัด contanier */
.containerD {
    background: #2c2c2c;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    max-width: 90%;
    margin: 80px  auto;
    box-shadow: rgb(255, 81, 0) 0px 5px 15px;
}

.mt-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 50px;
}

/* ปรับแต่งตารางให้สวยงาม */
.table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 ; /* เพิ่มระยะห่างระหว่างแถว */
    text-align: left;
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ff5e00;
    background-color: #363636; /* พื้นหลังของช่องในตาราง */
    color: white; /* สีข้อความในตาราง */
}

.table th {
    background-color: #202020; /* สีของส่วนหัวตาราง */
    color: rgb(255, 116, 35);
    font-weight: bold;
}

.table-striped tbody tr {
    transition: background-color 0.3s ease;
}

.table-striped tbody tr:hover {
    background-color: #333; /* เปลี่ยนสีเมื่อ hover */
    cursor: pointer;
}

/* Footer Styles */
.footer {
    background-color: #111;
    color: #fff;
    padding: 2rem 0;
    margin-top: 3rem;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer__info h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer__info p {
    font-size: 1rem;
    line-height: 1.6;
}

.footer__links h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.footer__links ul {
    list-style: none;
    padding: 0;
}

.footer__links ul li {
    margin-bottom: 0.5rem;
}

.footer__links ul li a {
    color: #bbb;
    text-decoration: none;
}

.footer__links ul li a:hover {
    color: #fff;
}

.footer__social {
    text-align: center;
    margin: 2rem 0;
}

.footer__social a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.footer__social a:hover {
    color: #ff6347;
}

.footer__copyright {
    text-align: center;
    padding-top: 1rem;
    font-size: 0.9rem;
    border-top: 1px solid #444;
    color: #bbb;
}